<% provide(:title, 'Edit My Account') %>
<div class="center  hero-unit">
  <h1>Edit My Account</h1>
  
  <div class="row">
    <div class="span6 offset3">
    
      <%= render 'layouts/view_errors' %>
      
      <%= form_for(@user) do |f| %>

        <%= f.label "Email:" %><br>
        <%= f.email_field :email %>
 
        <%= f.label "Password:" %><br>
        <%= f.password_field :password %>
  
        <%= f.label "Password confirmation:" %><br>
        <%= f.password_field :password_confirmation %>
  
        <%= f.label "Date of birth(YYYY-MM-DD):" %><br>
        <%= f.date_field :dt_of_b, placeholder: "YYYY-MM-DD", value: @user.dt_of_b %>

        <%= f.submit "Update", class: "btn btn-large btn-primary" %>
        
      <% end %>
    </div>
  </div>
</div>