<% provide(:title, 'Users') %>
<div class="center hero-unit">
  <h1>Member List</h1>
    <br>
    <%= will_paginate %>
    <br>
    <table align="center" width="70%">
      <tr><td><b>Zodiac</b></td><td><b>E-mail</b></td><td><b>Birthday</b></td><td><b>Horoscope</b></td></tr>
      <% @user.each do |i| %>
        <% if i.id != current_user.id %>
          <tr>
            <td><img width="50px" height="50px" src="../zodiac/<%= i.id_zd.to_s %>.png" alt="<%= i.email.upcase %>"></td>
            <td><h5><%= i.email %></h5></td>
            <td><h5><%= Date.parse(i.dt_of_b).strftime("%Y-%m-%d") %></h5></td>
            <td><h5><%= link_to "View", i %></h5></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <br>
    <%= will_paginate %>
</div>