<% provide(:title, @user.email) %>
<div class="center hero-unit">
  <h1>User Account</h1>
  <img src="../zodiac/<%= @user.id_zd.to_s %>.png" alt="<%= @user.email.upcase %>">
  <h3>Email: </h3><h5><%= @user.email.upcase %></h5>
  <h3>Birthday: </h3><h5><%= Date.parse(@user.dt_of_b).strftime("%d %B %Y") %></h5>
  <br>
  <%= render 'layouts/view_horoscope_btn' %>
</div>