<% provide(:title, @user.email) %>
<div class="center hero-unit">
  <h1>Account</h1>
  <img src="../zodiac/<%= @user.id_zd.to_s %>.png" alt="<%= @user.email.upcase %>">
  <h3>Email: </h3><h5><%= @user.email %></h5>
  <h3>Birthday: </h3><h5><%= @user.dt_of_b %></h5>
</div>

<!--<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <img src="../zodiac/<%= @user.id_zd.to_s %>.png" alt="<%= @user.email.upcase %>">
        <h3>Email: <%= @user.email %></h3>
        <h3>Birthday: <%= @user.dt_of_b %></h3>
      </h1>
    </section>
  </aside>
</div>-->