<% provide(:title, 'Sign In') %>
<div class="center hero-unit">
  <h1>Sign In</h1>
  <div class="row">
    <div class="span6 offset3">
      <%= form_for :user, method: :post do |f| %>

        <%= f.label "Email:" %><br>
        <%= f.email_field :email %>
 
        <%= f.label "Password:" %><br>
        <%= f.password_field :password %>
 
        <%= f.submit "Sign In", class: "btn btn-large btn-primary" %>
      <% end %>
      
      <br>
      <span><h6>Want to register? <%= link_to "Sign Up!", signup_path %></h6></span>
    </div>
  </div>
</div>