<!DOCTYPE html>
<html>
<head>
  <title>HOROSCOPE | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <!-- HEADER begin-->
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "MY HOROSCOPE", root_url, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_url %></li>
              <% if signed_in? %>
                <li><%= link_to "All Users", users_path %></li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email[0..current_user.email.index('@')-1].upcase %><b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My Horoscope", current_user %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
                  </ul>
                </li>
              <% else%>
                <li><%= link_to "Sign In", signin_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- HEADER end-->
    
    <!-- BODY begin-->
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
<!--       <%= debug(params) if Rails.env.development? %> -->
    </div>
    <!-- BODY end-->
    
    <!-- FOOTER begin-->
    <footer class="footer">
      <div class="container">
        <small>
          <a href="https://github.com/AlexBill/horoscope">GitHub project</a>
          from Alex Bill
        </small>
<!--    <nav>
          <ul>
            <li><%= link_to "Test1",   '#' %></li>
            <li><%= link_to "Test2", '#' %></li>
          </ul>
        </nav> -->
      </div>
    </footer>
    <!-- FOOTER end-->

</body>
</html>
