<!DOCTYPE html>
<html>
<head>
  <title>HOROSCOPE | <%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "MY HOROSCOPE", root_url, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_url %></li>
              <li><%= link_to "Sign In", signin_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    
    <!-- navbar-fixed-bottom -->
    <footer class="footer">
      <div class="container">
        <small>
          <a href="https://github.com/AlexBill/horoscope">GitHub project</a>
          from Alex Bill
        </small>
        <nav>
          <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
          </ul>
        </nav>
      </div>
    </footer>

</body>
</html>
